<main class="dashboard-main text-center">
  <h1 class="fw-bold titulo">Bienvenido al Sistema de Gestión de Inventario</h1>
  <p class="subtitulo">Selecciona una opción del menú para comenzar</p>
</main>
